* {
font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: black;
}
.titulo h1{
    text-align: left;    
    font-size: 40px;
    color: rgb(226, 43, 134);
    padding: 10px;
    margin-top: 3px;
}
.artistas{
    width:220px;
    height:220px;
    display: flex;
    padding: 40px;
}
.artistas img{
    width: 220px;
    height: 220px;
    border:outset 3px;
}
.artistas figcaption{
    font-size: 20px;
    color: rgb(226, 43, 134);
    text-align: center;
    position: relative;
    font-weight: bolder;
}